<h2>{{pad.name}}</h2>
<p>{{pad.description}}</p>
<a class="btn btn-primary" href="/app/pad/edit/{{pad._id}}">Edit</a>
<hr/>
<h4>Squad:</h4>
<ul>
{{#each pad.users}}
	<li>
		<a href="/app/user/{{this._id}}">
			{{this.username}}
		</a>
	</li>
{{/each}}
{{#unless pad.users}}
	<li>Squadless!</li>
{{/unless}}
</ul>
<a class= "btn btn-primary" href="/app/bill/new/{{pad._id}}">Create a bill type</a>
<div id="feedpost">
	<div style="text-align:center;" class="container">
			{{{myform}}}
			<table style="width:100% border=1">
			{{#each pad.posts}}
				<tr><td>{{this.content}}</td></tr>
			{{/each}}
	</div>

</div>
