<h2>{{pad.name}}</h2>
<p>{{pad.description}}</p>
<a class="btn btn-primary" href="/app/pad/edit/{{pad._id}}">Edit</a>
<hr/>
<h4>Squad:</h4>
<ul>
	{{#each pad.users}}
		<li>
			<a href="/app/user/{{this._id}}">
			{{this.username}}
		</a>
		</li>
	{{/each}}
	{{#unless pad.users}}
		<li>Squadless!</li>
	{{/unless}}
</ul>
<h4>Bills:</h4>
<ul>
	{{#each pad.bills}}
		<li>
			<a href="/app/bill/{{this._id}}">
			{{this.name}}
		</a>
		</li>
	{{/each}}
	{{#unless pad.bills}}
		<li>Bill-less!</li>
	{{/unless}}
</ul>
<br>
<a class="btn btn-primary" href="/app/bill/new/{{pad._id}}">Create a bill type</a>
<br>
<br>
<ul>
	{{#each liabilities}}
		<li>{{this.username.username}} {{this.str}}</li>
	{{/each}}
</ul>

<br>
<hr>

<div id="feedpost">
	<h3>Pad Feed</h3>
		<form method="post">
			<input type="hidden" name="pad" value="{{pad}}" />
			<input type="hidden" name="userName" value="{{user.username}}" />
			<br><br>
			<label for="poststuff"> Enter your Post:</label>
			<input id="poststuff" type="textarea" name="poststuff" class="form-control" rows="4" cols="50">
			<br>
			<button class="btn btn-primary" type="submit">Submit</button> '
		</form>
		<br><br>
		<div class="post-area">
			{{#each pad.posts}}
					<p>{{this.content}}</p>
			{{/each}}
		</div>
</div>
