<h2>{{user.username}} {{#if ownUser}}(you){{/if}}</h2>
<p>{{user.email}}</p>
{{#if ownUser}}<a class="btn btn-primary" href="/app/user/edit/{{user._id}}">Edit</a>{{/if}}
{{#unless ownUser}}{{!-- invite to pad --}}{{/unless}}
<hr/>
<h4>Pads:</h4>
<ul>

{{#each user.pads}}
	<li>
		<a href="/app/pad/{{this._id}}">
			{{this.name}}_
		</a>
	</li>
{{/each}}
{{#unless user.pads}}
	<li>Padless!</li>
{{/unless}}
</ul>
